#login-button-container {
  display: flex;
  justify-content: space-between;
  height: 30%;

  button {
    width: 13vw;
    margin: 0;
    align-self: flex-start;
    
    @media screen and (max-width: 800px) {
      width: 18vw;
    }
  }
}
