#form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;

  margin: 15vh auto 0 auto;
  height: 28%;
  width: 45%;

  .inputGroup-sizing-default {
    width: 20%;
    font-size: 1rem;
  }


}
