#header {
  width: 100%;

  nav {
    padding-top: 3vh;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        cursor: pointer;
    }

    & > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      #run {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2vh;
        margin-left: 2vw;
        height: 100%;
      }

      h1 {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: center;
        user-select: none;
      }
    }
  }
}
