#schedule {
  position: relative;
  padding-top: 10vh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .icon {
      cursor: pointer;
    }
  }

  main {
    max-height: 60vh;
    overflow-y: scroll;
  }
}
